/* Reset values */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* General set-up */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4c5270;
  font-size: 1.6rem;
  line-height: 1.2;
  background: #eeeeee no-repeat center top;
  background-size: 100vw 100vh;
  overflow-x: hidden;
}

#quote-box {
  position: relative;
  display: block;
  width: 64.7rem;
  height: 26.4rem;
  top: 14.3rem;
  margin: auto;
  background: #36eee0 no-repeat center top;
}

#quote {
  position: relative;
  width: 54rem;
  left: 4.2rem;
  top: 2.7rem;
  font-style: italic;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3.6rem;
}

#new-quote {
  position: absolute;
  float: right;
  right: -4rem;
  top: 17.8rem;
  width: 15.8rem;
  height: 4.5rem;
  background: #4c5270;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;

  font-family: Poppins;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #bcece0;
}

#tweet-quote {
  position: absolute;
  float: right;
  right: 14rem;
  top: 18rem;
  text-decoration: none;
  font-size: 3.8rem;
  color: #4c5270;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
